
html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden; 
}

* {
      box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    height: calc(var(--vh, 1vh) * 100); 
    background-color: #0077cc;
    font-family: sans-serif;
}

.task-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(63, 12, 12, 0.3);
}

input {
    padding: 8px;
    font-size: 14px;
}

button {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    }

    button:hover {
      background-color: #0056b3;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }

    li {
      background: #f2f2f2;
      padding: 6px 10px;
      margin-top: 5px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    li.done {
      text-decoration: line-through;
      color: red;
    }

    .delete {
      cursor: pointer;
      margin-left: 10px;
      color: gray;
    }

    .delete:hover {
      color: black;
    }
